<!--
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device width, initial-scale = 1">

<title>Min Bayti</title>
<link rel="stylesheet" type="text/css" href="maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<style>
.jumbotron{
	background-color:transparent !important;
	width: 60%;
	font-weight: bold;
	text-align: center;
	margin-left: 22%;
	margin-top: 12%;
	color:black;
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs {
	margin-bottom:0;
}
body{
	background-image:url("/assets/food.jpg");
	background-size: cover;
	;
}
</style>

</head>
<body>
<div class="container">

<div class="jumbotron">
<p><font size="50">Welcome To Min Bayti</font></p>
<p>
MinBayti is a platform designed for you to browse, order, and enjoy home-made food from all around Qatar 
</p>
<p>
<a class="btn btn-danger btn-lg" role="button">Sign up Now!</a>
<%= link_to 'View All Home Businesses', bussinesses_path, :class=>"btn btn-danger btn-lg" %>
</p>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

</body>
</html>
-->


<!DOCTYPE html>
<html lang="en">



    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">MinBayti</h1>
                        <p class="intro-text">MinBayti is a platform designed for you to browse, order, and enjoy home-made food from all around Qatar </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<style>
	a:link{
		color:white;
		
	}
	a:hover{
		color:white;
		background-color:#DAA520;
	}
	.btn:hover { 
	    background-color: #DAA520;
		border: #DAA520;
	}
	.btn{
		border-color:white;
	}
	</style>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
<p>The objective of Min Bayti is to increase awareness of the availability of home businesses that sell food within Qatar. Min Bayti plans to ease accessibility to home businesses through a customized portal designed specifically to cater to needs and demands of consumers. Now everyone can order the foods they’re craving, and be one click away from having their food delivered straight to their doorstep.</p>

<p>We believe meals cooked from home represent love, care and traditions. People often prefer to eat home cooked meals since they maintain the originality of the recipes and perfection of the spices. Min Bayti plans on portraying all the different home businesses that sell homemade food while categorizing them and allowing people to review them. With this standardized information, anyone could find the food they are craving by simply writing down the cuisine they are looking for. So what are you waiting for?</p>

<p>Homemade with love,</p>
<p>Yours Truly,</p>
<p>Min Bayti</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Take a Look at Some of Our Home Businesses</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <%= link_to 'Businesses', bussinesses_path, :class=>"btn btn-default btn-lg" %>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p>Feel free to email us to provide some feedback on our platform, if you have any suggestions or to just say hello!</p>
                <p><a href="minbayti@qatar.cmu.edu">minbayti@qatar.cmu.edu</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>

                    <li>
                        <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

   
    <!-- Footer -->

      <div class="container text-center">
        <p>Copyright &copy; Team 5 </p>
      </div>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="/assets/javascripts/grayscale.min.js"></script>

</body>

</html>
