<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device width, initial-scale = 1">

<title>Min Bayti</title>
<link rel="stylesheet" type="text/css" href="maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<style>
.jumbotron{
	background-color:transparent !important;
	width:80%;
	font-weight: bold;
	text-align: justify;
	font-weight: bold;
	line-height: 2;
	font-family: cursive;
	color:black;
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs {
	margin-bottom:0;
}
body{
	background-image:url("/assets/photo.jpeg");
	background-size: cover;
}
</style>

</head>
<body>
<div class="container">

<div class="jumbotron">
<p><font size="50">About Min Bayti</font></p>
<p>
The objective of Min Bayti is to increase awareness of the availability of home businesses that sell food within Qatar. Min Bayti plans to ease accessibility to home businesses through a customized portal designed specifically to cater to needs and demands of consumers. Now everyone can order the foods they’re craving, and be one click away from having their food delivered straight to their doorstep. 
</p>
<p>
We believe meals cooked from home represent love, care and traditions. People often prefer to eat home cooked meals since they maintain the originality of the recipes and perfection of the spices. Min Bayti plans on portraying all the different home businesses that sell homemade food while categorizing them and allowing people to review them. With this standardized information, anyone could find the food they are craving by simply writing down the cuisine they are looking for. So what are you waiting for? 
</p>
<p>
Homemade with love,<br>
Yours Truly,<br>
Min Bayti
</p>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

</body>
</html>
